javascript:
  var feed = new Instafeed({
        clientId: 'd27b0622fdfb40bf8a07ad86bcb606f0',
        target: 'feed',
        get: 'tagged',
        tagName: 'chüp',
        links: true,
        resolution: 'standard_resolution'
        template: '{{model}}'
    });
    feed.run();

h1 What is chüp?

.wrapper#feed
  